openapi: 3.1.0
info:
  contact:
    email: support@spartera.com
    name: API Support
  description: Auto-generated API documentation for REST services of the Spartera
    platform
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Spartera API Documentation
  version: 1.25.0
servers:
- description: Production server
  url: https://api.spartera.com/
- description: Staging server
  url: https://stage.api.spartera.com/
tags:
- description: API Keys operations
  name: API Keys
- description: Alerts operations
  name: Alerts
- description: Asset Price History operations
  name: Asset Price History
- description: Asset Usecases operations
  name: Asset Usecases
- description: Assets operations
  name: Assets
- description: Cloud Providers operations
  name: Cloud Providers
- description: Companies operations
  name: Companies
- description: Connections operations
  name: Connections
- description: Endpoints operations
  name: Endpoints
- description: Favorites operations
  name: Favorites
- description: Industries operations
  name: Industries
- description: Job Functions operations
  name: Job Functions
- description: Postgen Integrations operations
  name: Postgen Integrations
- description: Posts operations
  name: Posts
- description: Storage Engines operations
  name: Storage Engines
- description: Users operations
  name: Users
paths:
  /analyze/{company_handle}/assets/{asset_slug}:
    get:
      operationId: getAssetsByIdAnalyze
      parameters:
      - description: URL-friendly slug for the Asset
        explode: false
        in: path
        name: asset_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Human-readable handle for the Company
        explode: false
        in: path
        name: company_handle
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Process (analyze) an asset with dynamic rate limiting applied via decorator.
      tags:
      - Assets
    post:
      operationId: createAssetsAnalyze
      parameters:
      - description: URL-friendly slug for the Asset
        explode: false
        in: path
        name: asset_slug
        required: true
        schema:
          type: string
        style: simple
      - description: Human-readable handle for the Company
        explode: false
        in: path
        name: company_handle
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetsInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetsAnalyze_200_response"
          description: Successfully created assets
          links:
            GetCreatedResource:
              description: Get the created assets
              operationId: getAssetsById
              parameters:
                asset_id: $response.body#/data/asset_id
            UpdateCreatedResource:
              description: Update the created assets
              operationId: updateAssets
              parameters:
                asset_id: $response.body#/data/asset_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Process (analyze) an asset with dynamic rate limiting applied via decorator.
      tags:
      - Assets
  /asset_usecases:
    get:
      operationId: listAssetUsecases
      parameters:
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAssetUsecases_200_response"
          description: Successfully retrieved asset usecases
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get a list of all asset use cases
      tags:
      - Asset Usecases
  /asset_usecases/{auc_id}:
    get:
      operationId: getAssetUsecasesById
      parameters:
      - description: Unique identifier for the Auc
        explode: false
        in: path
        name: auc_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetUsecasesById_200_response"
          description: Successfully retrieved asset usecases
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get single asset use case by ID
      tags:
      - Asset Usecases
  /cloud-providers:
    get:
      operationId: listCloudProviders
      parameters:
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCloudProviders_200_response"
          description: Successfully retrieved cloud providers
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get a list of all cloud providers
      tags:
      - Cloud Providers
  /cloud-providers/{provider_id}:
    get:
      operationId: getCloudProvidersById
      parameters:
      - description: Unique identifier for the Provider
        explode: false
        in: path
        name: provider_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCloudProvidersById_200_response"
          description: Successfully retrieved cloud providers
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get single cloud provider by ID
      tags:
      - Cloud Providers
  /cloud-providers/{provider_id}/storage-engines:
    get:
      operationId: listStorageEngines
      parameters:
      - description: Unique identifier for the Provider
        explode: false
        in: path
        name: provider_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listStorageEngines_200_response"
          description: Successfully retrieved storage engines
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get a list of all storage engines
      tags:
      - Storage Engines
  /cloud-providers/{provider_id}/storage-engines/{engine_id}:
    get:
      operationId: getStorageEnginesById
      parameters:
      - description: Unique identifier for the Provider
        explode: false
        in: path
        name: provider_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Engine
        explode: false
        in: path
        name: engine_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getStorageEnginesById_200_response"
          description: Successfully retrieved storage engines
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get single storage engine by ID
      tags:
      - Storage Engines
  /companies/{company_id}:
    get:
      operationId: getCompaniesById
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCompaniesById_200_response"
          description: Successfully retrieved companies
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get details of the requestor's own company
      tags:
      - Companies
    patch:
      operationId: updateCompanies
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompaniesUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateCompanies_200_response"
          description: Successfully updated companies
          links:
            GetUpdatedResource:
              description: Get the updated companies
              operationId: getCompaniesById
              parameters:
                company_id: $response.body#/data/company_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Update an existing company by ID
      tags:
      - Companies
  /companies/{company_id}/analytics/assets:
    get:
      operationId: listCompaniesAnalyticsAssets
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompaniesAnalyticsAssets_200_response"
          description: Successfully retrieved companies
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get asset performance analytics.
            Query params: start_date, end_date, limit, sort_by, include
      tags:
      - Companies
  /companies/{company_id}/analytics/customers:
    get:
      operationId: listCompaniesAnalyticsCustomers
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompaniesAnalyticsAssets_200_response"
          description: Successfully retrieved companies
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get customer analytics including growth and segmentation.
            Query params: start_date, end_date, group_by, segment_by
      tags:
      - Companies
  /companies/{company_id}/analytics/dashboard:
    get:
      operationId: listCompaniesAnalyticsDashboard
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompaniesAnalyticsAssets_200_response"
          description: Successfully retrieved companies
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get comprehensive dashboard analytics for seller dashboard.
            Query params: start_date, end_date, period (day/week/month/quarter)
      tags:
      - Companies
  /companies/{company_id}/analytics/metrics:
    get:
      operationId: listCompaniesAnalyticsMetrics
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompaniesAnalyticsAssets_200_response"
          description: Successfully retrieved companies
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get summary metrics (counts only). No date params needed — returns all-time totals.
            Performance: < 0.1s
      tags:
      - Companies
  /companies/{company_id}/analytics/sales:
    get:
      operationId: listCompaniesAnalyticsSales
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCompaniesAnalyticsAssets_200_response"
          description: Successfully retrieved companies
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get sales over time analytics.
            Query params: start_date, end_date, group_by (day/week/month/quarter), metrics
      tags:
      - Companies
  /companies/{company_id}/api-keys:
    get:
      operationId: listApiKeys
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listApiKeys_200_response"
          description: Successfully retrieved api keys
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get all API keys for a company.
            Returns masked API keys for security (sk_****1234).
      tags:
      - API Keys
    post:
      operationId: createApiKeys
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeysInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createApiKeys_200_response"
          description: Successfully created api keys
          links:
            GetCreatedResource:
              description: Get the created api_keys
              operationId: getApiKeysById
              parameters:
                api_key_id: $response.body#/data/api_key_id
            UpdateCreatedResource:
              description: Update the created api_keys
              operationId: updateApiKeys
              parameters:
                api_key_id: $response.body#/data/api_key_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Create single API key.
            Returns the actual sk_ key (only time it's exposed) and api_key_id for future operations.
      tags:
      - API Keys
  /companies/{company_id}/api-keys/{api_key_id}:
    delete:
      operationId: deleteApiKeys
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Api Key
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteApiKeys_200_response"
          description: Successfully deleted api keys
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Delete (deactivate) single API key by api_key_id.
            Uses the api_key_id returned during creation for clean identification.
            Fixed to use correct primary key lookup.
      tags:
      - API Keys
    get:
      operationId: getApiKeysById
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Api Key
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getApiKeysById_200_response"
          description: Successfully retrieved api keys
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get single API key by ID.
            Returns masked API key for security (sk_****1234).
      tags:
      - API Keys
    patch:
      operationId: updateApiKeys
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Api Key
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeysUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateApiKeys_200_response"
          description: Successfully updated api keys
          links:
            GetUpdatedResource:
              description: Get the updated api_keys
              operationId: getApiKeysById
              parameters:
                api_key_id: $response.body#/data/api_key_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Update an existing API key by ID.
            Can update metadata like name, expiration, rate limits, etc.
            Cannot update the actual key value (for security).
      tags:
      - API Keys
  /companies/{company_id}/api-keys/{api_key_id}/revoke:
    post:
      operationId: createApiKeysApi-KeysRevoke
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Api Key
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeysInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createApiKeys_200_response"
          description: Successfully created api keys
          links:
            GetCreatedResource:
              description: Get the created api_keys
              operationId: getApiKeysById
              parameters:
                api_key_id: $response.body#/data/api_key_id
            UpdateCreatedResource:
              description: Update the created api_keys
              operationId: updateApiKeys
              parameters:
                api_key_id: $response.body#/data/api_key_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Explicitly revoke an API key with reason tracking.
            This is different from delete as it includes revocation metadata.
      tags:
      - API Keys
  /companies/{company_id}/api-keys/{api_key_id}/stats:
    get:
      operationId: getApiKeysByIdApi-KeysStats
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Api Key
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getApiKeysById_200_response"
          description: Successfully retrieved api keys
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Get usage statistics for a specific API key.
            Returns usage count, last used date, failed attempts, etc.
      tags:
      - API Keys
  /companies/{company_id}/assets:
    get:
      operationId: listAssets
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAssets_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get all assets for a specific company
      tags:
      - Assets
    post:
      operationId: createAssets
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetsInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetsAnalyze_200_response"
          description: Successfully created assets
          links:
            GetCreatedResource:
              description: Get the created assets
              operationId: getAssetsById
              parameters:
                asset_id: $response.body#/data/asset_id
            UpdateCreatedResource:
              description: Update the created assets
              operationId: updateAssets
              parameters:
                asset_id: $response.body#/data/asset_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Create a new asset
      tags:
      - Assets
  /companies/{company_id}/assets/search:
    get:
      operationId: listAssetsSearch
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAssets_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Search and filter assets with advanced options

            Query Parameters:
                q: Search query string
                category: Filter by category
                sport: Filter by sport tag
                sort_by: Sort field (name|recent|popular|trending)
                limit: Number of results (default 20, max 100)
                offset: Offset for pagination
                include_recommended: Include recommendations (true/false)
                include_schema: Include asset_schema in response (true/false, default false)
      tags:
      - Assets
  /companies/{company_id}/assets/statistics:
    get:
      operationId: getAssetsByIdStatistics
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get statistics for all assets the user has access to
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}:
    delete:
      operationId: deleteAssets
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteAssets_200_response"
          description: Successfully deleted assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Delete single asset by ID
      tags:
      - Assets
    get:
      operationId: getAssetsById
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get single asset by ID
      tags:
      - Assets
    patch:
      operationId: updateAssets
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetsUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateAssets_200_response"
          description: Successfully updated assets
          links:
            GetUpdatedResource:
              description: Get the updated assets
              operationId: getAssetsById
              parameters:
                asset_id: $response.body#/data/asset_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Update an existing asset by ID
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}/infoschema:
    get:
      operationId: getAssetsByIdInfoschema
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get the information schema for a specific asset's table
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}/infoschema/save:
    get:
      operationId: getAssetsByIdInfoschemaSave
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Retrieve and save an asset's information schema
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}/predicted_price:
    get:
      operationId: getAssetsByIdPredicted_Price
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get AI-predicted pricing for a specific asset
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}/prices:
    get:
      operationId: getAssetPriceHistoryById
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetPriceHistoryById_200_response"
          description: Successfully retrieved asset price history
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get all price history records for a specific asset
      tags:
      - Asset Price History
    post:
      operationId: createAssetPriceHistory
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetPriceHistoryInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetPriceHistory_200_response"
          description: Successfully created asset price history
          links:
            GetCreatedResource:
              description: Get the created asset_price_history
              operationId: getAssetPriceHistoryById
              parameters:
                aph_id: $response.body#/data/aph_id
            UpdateCreatedResource:
              description: Update the created asset_price_history
              operationId: updateAssetPriceHistory
              parameters:
                aph_id: $response.body#/data/aph_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Create a new price history record for an asset
      tags:
      - Asset Price History
  /companies/{company_id}/assets/{asset_id}/prices/active:
    get:
      operationId: getAssetPriceHistoryByIdPricesActive
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetPriceHistoryById_200_response"
          description: Successfully retrieved asset price history
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get the currently active price for an asset
      tags:
      - Asset Price History
  /companies/{company_id}/assets/{asset_id}/prices/calculate_credits:
    post:
      operationId: createAssetPriceHistoryPricesCalculate_Credits
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetPriceHistoryInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetPriceHistory_200_response"
          description: Successfully created asset price history
          links:
            GetCreatedResource:
              description: Get the created asset_price_history
              operationId: getAssetPriceHistoryById
              parameters:
                aph_id: $response.body#/data/aph_id
            UpdateCreatedResource:
              description: Update the created asset_price_history
              operationId: updateAssetPriceHistory
              parameters:
                aph_id: $response.body#/data/aph_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Calculate the credit equivalent for a given USD price without saving
      tags:
      - Asset Price History
  /companies/{company_id}/assets/{asset_id}/prices/discount:
    post:
      operationId: createAssetPriceHistoryPricesDiscount
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetPriceHistoryInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetPriceHistory_200_response"
          description: Successfully created asset price history
          links:
            GetCreatedResource:
              description: Get the created asset_price_history
              operationId: getAssetPriceHistoryById
              parameters:
                aph_id: $response.body#/data/aph_id
            UpdateCreatedResource:
              description: Update the created asset_price_history
              operationId: updateAssetPriceHistory
              parameters:
                aph_id: $response.body#/data/aph_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: "POST /companies/{company_id}/assets/{asset_id}/prices/discount"
      tags:
      - Asset Price History
  /companies/{company_id}/assets/{asset_id}/prices/{aph_id}:
    delete:
      operationId: deleteAssetPriceHistory
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Aph
        explode: false
        in: path
        name: aph_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteAssetPriceHistory_200_response"
          description: Successfully deleted asset price history
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Delete single price history record by ID
      tags:
      - Asset Price History
    get:
      operationId: getAssetPriceHistoryByIdAssetsPrices
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Aph
        explode: false
        in: path
        name: aph_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetPriceHistoryById_200_response"
          description: Successfully retrieved asset price history
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get single price history record by ID
      tags:
      - Asset Price History
    patch:
      operationId: updateAssetPriceHistory
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Aph
        explode: false
        in: path
        name: aph_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetPriceHistoryUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateAssetPriceHistory_200_response"
          description: Successfully updated asset price history
          links:
            GetUpdatedResource:
              description: Get the updated asset_price_history
              operationId: getAssetPriceHistoryById
              parameters:
                aph_id: $response.body#/data/aph_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Update an existing price history record by ID
      tags:
      - Asset Price History
  /companies/{company_id}/assets/{asset_id}/scan_column:
    post:
      operationId: createAssetsScan_Column
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetsInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetsAnalyze_200_response"
          description: Successfully created assets
          links:
            GetCreatedResource:
              description: Get the created assets
              operationId: getAssetsById
              parameters:
                asset_id: $response.body#/data/asset_id
            UpdateCreatedResource:
              description: Update the created assets
              operationId: updateAssets
              parameters:
                asset_id: $response.body#/data/asset_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: |-
        Scan a column in the asset's table to retrieve distinct values

            Request Body:
                column (str): Column name to scan
                limit (int, optional): Maximum distinct values to return (default 1000, max 5000)

            Returns:
                Flask Response with scan results
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}/statistics:
    get:
      operationId: getAssetsById_2
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get statistics for a specific asset (public endpoint)
      tags:
      - Assets
  /companies/{company_id}/assets/{asset_id}/test:
    get:
      operationId: getAssetsByIdTest
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetsByIdAnalyze_200_response"
          description: Successfully retrieved assets
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: "GET /companies/{company_id}/assets/{asset_id}/test"
      tags:
      - Assets
    post:
      operationId: createAssetsTest
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Asset
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetsInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAssetsAnalyze_200_response"
          description: Successfully created assets
          links:
            GetCreatedResource:
              description: Get the created assets
              operationId: getAssetsById
              parameters:
                asset_id: $response.body#/data/asset_id
            UpdateCreatedResource:
              description: Update the created assets
              operationId: updateAssets
              parameters:
                asset_id: $response.body#/data/asset_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: "POST /companies/{company_id}/assets/{asset_id}/test"
      tags:
      - Assets
  /companies/{company_id}/connections:
    get:
      operationId: listConnections
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listConnections_200_response"
          description: Successfully retrieved connections
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get all connections for a specific company
      tags:
      - Connections
    post:
      operationId: createConnections
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionsInput"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createConnections_200_response"
          description: Successfully created connections
          links:
            GetCreatedResource:
              description: Get the created connections
              operationId: getConnectionsById
              parameters:
                connection_id: $response.body#/data/connection_id
            UpdateCreatedResource:
              description: Update the created connections
              operationId: updateConnections
              parameters:
                connection_id: $response.body#/data/connection_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Create a new connection by ID
      tags:
      - Connections
  /companies/{company_id}/connections/{connection_id}:
    delete:
      operationId: deleteConnections
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Connection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteConnections_200_response"
          description: Successfully deleted connections
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Delete single connection by ID
      tags:
      - Connections
    get:
      operationId: getConnectionsById
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Connection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getConnectionsById_200_response"
          description: Successfully retrieved connections
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Get single connection by ID
      tags:
      - Connections
    patch:
      operationId: updateConnections
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Connection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionsUpdate"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateConnections_200_response"
          description: Successfully updated connections
          links:
            GetUpdatedResource:
              description: Get the updated connections
              operationId: getConnectionsById
              parameters:
                connection_id: $response.body#/data/connection_id
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Update an existing connection by ID
      tags:
      - Connections
  /companies/{company_id}/connections/{connection_id}/infoschema:
    get:
      operationId: getConnectionsByIdInfoschema
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Connection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getConnectionsById_200_response"
          description: Successfully retrieved connections
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Retrieve the information schema for the specified connection
      tags:
      - Connections
  /companies/{company_id}/connections/{connection_id}/test:
    get:
      operationId: getConnectionsById_2
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Unique identifier for the Connection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getConnectionsById_200_response"
          description: Successfully retrieved connections
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: Test the specified connection
      tags:
      - Connections
  /companies/{company_id}/endpoints:
    get:
      operationId: listEndpoints
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Sort order (ascending or descending)
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Search term to filter results
        explode: true
        in: query
        name: search
        required: false
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listEndpoints_200_response"
          description: Successfully retrieved endpoints
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
      - ApiKeyAuth: []
      summary: "Get all endpoints for a specific company with pagination, filtering,\
        \ and sorting"
      tags:
      - Endpoints
    post:
      operationId: createEndpoints
      parameters:
      - description: Unique identifier for the Company
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          maxLength: 255
          minLength: 1
          pattern: "^[a-zA-Z0-9_-]+$"
          type: string
        style: simple
      - description: Page number for pagination
        explode: true
        in: query
[...]
